apiVersion: v1
kind: Service
metadata:
  name: {{ include "package-repo.fullname" . }}
  labels:
    {{- include "package-repo.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.httpPort }}
      targetPort: http
      protocol: TCP
    - name: api
      port: {{ .Values.service.apiPort }}
      targetPort: api
      protocol: TCP
  selector:
    {{- include "package-repo.selectorLabels" . | nindent 4 }}
